.navBtnWrap {
  position: absolute;
  right: 1rem;
  top: 2rem;
  z-index: 1000;
}

.navLogo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 1.5rem;
}

.navLogo a {
  text-decoration: none;
  color: #1B2700;
}

.navLogo img {
  width: 6rem;
  margin-bottom: 0;
  opacity: .9;
}

.navLogo h3 {
  font-family: 'Permanent Marker', cursive;
  color: #1B2700;
  text-align: center;
  margin-top: .5rem;
}

.navBtn {
  position: relative;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.navBtn.open > span:nth-of-type(2) {
  opacity: 0;
}

.navBtn.open > span:first-of-type {
  /* transform: rotate(-45deg) translateY(-1rem); */
  transform: rotate(-45deg) translateY(-.75rem) translateX(-.35rem);
  transform-origin: right;
}

.navBtn.open > span:last-of-type {
  transform: rotate(45deg) translateY(1rem);
  transform-origin: right;
}

.navBtn > span {
  position: relative;
  height: .25rem;
  width: 3.5rem;
  background-color: white;
  transition: all .2s ease;
}

.navBtn > span:nth-of-type(2) {
  margin: .5rem 0;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  opacity: 0;
  background-color: rgba(0, 0, 0, .85);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
}

#nav li {
  position: relative;
  list-style: none;
  margin: 3rem 0;
  transition: all .2s ease .2s;
  transform: translateY(-2rem);
  opacity: 0;
}

#nav li::before {
  content: '';
  position: absolute;
  left: -12rem;
  top: .25rem;
  height: .25rem;
  width: 0;
  background-color: #FF3734;
  transition: width .2s ease;
}

#nav li:nth-of-type(2) {
  transition-duration: .25s; 
  padding-bottom: 5rem;
  border-bottom: 4px solid #FF3734;
  margin-bottom: 5rem;
}

#nav li:nth-of-type(3) {
  transition-duration: .35s;
}
#nav li:nth-of-type(4) {
  transition-duration: .5s;
}
#nav li:nth-of-type(5) {
  transition-duration: .7s;
}

#nav li:hover::before {
  width: 10rem;
}

#nav li a {
  color: white;
  text-decoration: none;
  font-size: 3.842em;
  transition: all .4s ease;
}

#nav li:hover a {
  color: #FF3734;
}

#nav.navOpen {
  pointer-events: initial;
  opacity: 1;
}

#nav.navOpen li {
  /* animation: test 1s ease .5s; */
  transform: translateY(0%);
  opacity: 1;
  /* transition: all .2s ease .3s; */
}

@keyframes test {
  from { transform: scale(1) } 
  to { transform: scale(2) }
}

@media screen and (max-width: 600px) {
  .navLogo {
    padding: 1rem;
  }
  .navLogo img {
    width: 4rem;
  }
  #nav li a {
    font-size: 1.96em;
  }
}